@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200&display=swap');

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Sora', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  overflow: hidden;
}

main {
  height: 100vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
}

.section>* {
  margin: 0;
}

.section-container {
  scroll-snap-align: center;
  height: 100vh;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.section-container>.section {
  z-index: 1;
  flex-basis: 100%;
  flex-shrink: 0;
  margin: 0;
  scroll-snap-align: center;
  position: relative;
  height: calc(100vh - 60px);
  width: calc(100vw - 60px);
  max-width: calc(100vw - 60px);
  padding: 30px 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  color: white;
}

.section>.bg {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.section>.bg:not(.no-filter) {
  filter: brightness(.75) contrast(.9);
}

.thumbnail-bg {
  filter: brightness(.4) contrast(.8);
}

img:not(.bg) {
  border: 2px solid white;
  box-shadow: 5px 5px 20px -5px black;
  margin-bottom: 6px;
}

img.avatar {
  width: 150px;
  border-radius: 100%;
}

img.thumbnail {
  width: 400px;
  max-width: calc(100vw - 120px);
  border-radius: 16px;
  min-width: 25vw;
}

img.cover {
  height: 300px;
  max-height: calc(100vw - 120px);
  border-radius: 16px;
}

.section>p {
  font-size: 1.15rem;
}

ul.actions {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 15px;
  padding: 8px 0;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.actions a {
  text-decoration: none;
  color: unset;
  transition: .1s;
}

.actions a:hover {
  font-size: 1.15em;
}

*::-webkit-scrollbar {
  display: none;
}

.title-group>* {
  margin: 0;
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: space-between;
  align-items: center;
  top: 0;
  pointer-events: none;
  left: 0;
  z-index: 2;
}

.overlay .item {
  transition: .5s;
  pointer-events: all;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item:has(a:hover) {
  filter: brightness(.6);
}

.item.horizontal {
  height: 100vh;
}

.item.vertical {
  width: 100vw;
}

.item.up {
  top: 0;
  opacity: 0;
}

.item.down {
  bottom: 0;
}

.item.left {
  left: 0;
  opacity: 0;
}

.item.right {
  right: 0;
}

.overlay svg {
  stroke: white;
  stroke-width: 1;
  width: 50px;
}

.item>a {
  cursor: default;
}